body {
  background-color: #c3b192;
}

.tg{
    margin-left: auto;
    margin-right: auto;
}

 h1{
  color: #4a3617;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.thead {
  font-weight: bold;
}
td {
  color:#6d5022;
  font-weight: bold;
}
#caption {
  text-align: center;
}
